<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: head">    
    </head>
    <body>
        <div th:include="layout :: navigationPanel"></div>
        
        <div class="container py-5">
            
            <div class="row" style="text-align: center; margin: auto; width: 50%;">
                <div class="col-12">
                    <h1>Działanie zabronione.</h1>
                </div>
            </div>
            
        </div>
        
        <div th:include="layout :: scripts"></div>
    </body>
</html>